<!DOCTYPE html>
<html lang="en">

<head>

{% include head.html %}

</head>

<body>

{% include navbar.html %}

{% if page.hero %}
    {% include hero.html %}
{% endif %}

<hr>


    <main class="container">
        {{ content }}
    </main>

<hr>

{% include footer.html %}

<script src="{{ '/assets/js/logo.js' | relative_url }}"></script>
<script src="{{ '/assets/js/banner.js' | relative_url }}"></script>

{% if page.game %}
<link rel="stylesheet"
      href="{{ '/assets/css/game.css' | relative_url }}">
<script src="{{ '/assets/js/game.js' | relative_url }}"></script>
{% endif %}

<script>
document.addEventListener("DOMContentLoaded", () => {
    if (window.MathJax) {
        MathJax.typesetPromise();
    }
});
</script>
</body>

</html>
